In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

Importing Dataframes

In [2]:
#Pathway to the Dataframes
path = r'C:\Users\cook family\Desktop\07-2023 Instacart Basket Analysis'

In [3]:
#Import orders_checked.csv dataframe
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Products_checked.csv'), index_col = False)

In [4]:
#Import order_products_prior.csv dataframe
#df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [5]:
#Import products_checked.csv dataframe
#df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Products_checked.csv'), index_col = False)

In [6]:
#Importing orders_wrangled.csv dataframe
df_ords_wrangled = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

Exercise 4.6

In [20]:
df_ords.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_last_order'],
      dtype='object')

In [9]:
#Drop the unnecessary Column
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [21]:
df_ords.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_last_order'],
      dtype='object')

In [11]:
df_ords_prior.shape

(32434489, 4)

In [12]:
df_ords.shape

(3421083, 7)

In [13]:
#Merge dataframes with 'order_id' as the key
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [14]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [15]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

Questions

Question 2 Export a merged files in pickle format

In [16]:
#Exporting merged file in pickle format
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

Question 3 See second attachment for combined dataframe

Question 4 Check the shape of the imported dataframe

In [17]:
#Shape of df_merged_large dataframe
df_merged_large.shape

(32434489, 11)

Question 5 Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

In [18]:
#Checking the shape of prducts_checked dataframe
df_prods.shape

(49672, 6)