In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Import 'orders_products_merged.pkl'
df_ords_merged = pd.read_pickle(r'C:\Users\cook family\Desktop\07-2023 Instacart Basket Analysis\02 Data\Prepared Data\orders_products_merged.pkl')

Question 1. Create the 'price_label' column

In [3]:
#Check output of df_ords_merged
print('Number of rows and columns of df_ords_merged:\n', df_ords_merged.shape)
print('\nOutput of df_ords_merged:\n', df_ords_merged.head(5))

Number of rows and columns of df_ords_merged:
 (32404859, 16)

Output of df_ords_merged:
    order_id  user_id eval_set  order_number  orders_day_of_week  \
0   2539329        1    prior             1                   2
1   2398795        1    prior             2                   3
2    473747        1    prior             3                   3
3   2254736        1    prior             4                   4
4    431534        1    prior             5                   4

   order_hour_of_day  days_since_last_order  product_id  add_to_cart_order  \
0                  8                    NaN         196                  1
1                  7                   15.0         196                  1
2                 12                   21.0         196                  1
3                  7                   29.0         196                  1
4                 15                   28.0         196                  1

   reordered  Unnamed: 0 product_name  aisle_id  department_id  prices _merge
0          0         195         Soda        77              7     9.0   both
1          1         195         Soda        77              7     9.0   both
2          1         195         Soda        77              7     9.0   both
3          1         195         Soda        77              7     9.0   both
4          1         195         Soda        77              7     9.0   both

In [4]:
#Create the 'price_range' column to determine the products' price range
df_ords_merged.loc[df_ords_merged['prices'] > 15, 'price_range'] = 'High-range product'

In [5]:
df_ords_merged.loc[(df_ords_merged['prices'] <= 15) & (df_ords_merged['prices'] > 5), 'price_range'] = 'Mid-range product'

In [6]:
df_ords_merged.loc[df_ords_merged['prices'] <= 5, 'price_range'] = 'Low-range product'

In [7]:
#Check the output of df_ords_merged
print('\nOutput of df_ords_merged:\n', df_ords_merged.head(5))

Output of df_ords_merged:
    order_id  user_id eval_set  order_number  orders_day_of_week  \
0   2539329        1    prior             1                   2
1   2398795        1    prior             2                   3
2    473747        1    prior             3                   3
3   2254736        1    prior             4                   4
4    431534        1    prior             5                   4

   order_hour_of_day  days_since_last_order  product_id  add_to_cart_order  \
0                  8                    NaN         196                  1
1                  7                   15.0         196                  1
2                 12                   21.0         196                  1
3                  7                   29.0         196                  1
4                 15                   28.0         196                  1

   reordered  Unnamed: 0 product_name  aisle_id  department_id  prices _merge  \
0          0         195         Soda        77              7     9.0   both
1          1         195         Soda        77              7     9.0   both
2          1         195         Soda        77              7     9.0   both
3          1         195         Soda        77              7     9.0   both
4          1         195         Soda        77              7     9.0   both

         price_range
0  Mid-range product
1  Mid-range product
2  Mid-range product
3  Mid-range product
4  Mid-range product

In [8]:
#Check the dimensions and output of df_ords_merged
print('\nNumber of rows and columns of df_ords_merged:\n', df_ords_merged.shape)
print('\nValues in the price_range column:\n', df_ords_merged['price_range'].value_counts())

Number of rows and columns of df_ords_merged:
 (32404859, 17)

Values in the price_range column:
 Mid-range product     21860860
Low-range product     10131448
High-range product      412551
Name: price_range, dtype: int64

Question 2. Create busiest_day

In [9]:
# Here is the frequency of the values in the 'orders_day_of_week' column
print('Frequency of values in the orders_day_of_week column:\n', df_ords_merged['orders_day_of_week'].value_counts())

Frequency of values in the orders_day_of_week column:
 0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [10]:
# create a for-loop that append to the 'result' list the busyness of the days based on values in the 'orders_day_of_week' column
result = []

for value in df_ords_merged['orders_day_of_week']:
  if value == 0:
    result.append('Busiest day')
  elif value == 4:
    result.append('Least busy')
  else:
    result.append('Regularly busy')

In [11]:
#Create the 'busiest_day' column
df_ords_merged['busiest_day'] = result

# get the frequency of the values in the 'busiest_day' column
print('Frequency of values in the busiest_day column:\n', df_ords_merged['busiest_day'].value_counts())

Frequency of values in the busiest_day column:
 Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

Question 3. Create busiest_days column

In [12]:
#Get the frequency of the values in the 'orders_day_of_week' column
print('Frequency of values in the orders_day_of_week column:\n', df_ords_merged['orders_day_of_week'].value_counts())

Frequency of values in the orders_day_of_week column:
 0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

Question 4 Technical fix for freezing

In [13]:
#Create a for-loop that append to the 'days' list the busyness of the days based on values in the 'orders_day_of_week' column
days = []

for day in df_ords_merged['orders_day_of_week']:
  if day == 0 or day == 1:
    days.append('Busiest days')
  elif day == 4 or day == 3:
    days.append('Slowest days')
  else:
    days.append('Regular days')

In [14]:
#Create the 'busiest_days' column
df_ords_merged['busiest_days'] = days

# get the frequency of the values in the 'busiest_days' column
print('Frequency of values in the busiest_days column:\n', df_ords_merged['busiest_days'].value_counts())

Frequency of values in the busiest_days column:
 Regular days    12916111
Busiest days    11864412
Slowest days     7624336
Name: busiest_days, dtype: int64

In [15]:
#Check the output of the 'orders_day_of_week' and the 'busiest_days'
print('Output of the orders_day_of_week and the busiest_days column:\n', df_ords_merged[['orders_day_of_week', 'busiest_days']].head(10))

Output of the orders_day_of_week and the busiest_days column:
    orders_day_of_week  busiest_days
0                   2  Regular days
1                   3  Slowest days
2                   3  Slowest days
3                   4  Slowest days
4                   4  Slowest days
5                   2  Regular days
6                   1  Busiest days
7                   1  Busiest days
8                   1  Busiest days
9                   4  Slowest days

Question 5 Create the busiest_period_od_day column

In [16]:
#Frequency of the values in the 'order_hour_of_day' column
print('Frequency of values in the order_hour_of_day column:\n', df_ords_merged['order_hour_of_day'].value_counts())

Frequency of values in the order_hour_of_day column:
 10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [17]:
# Create a for-loop that append to the 'hours' list the business hours based on values in the 'order_hour_of_day' column
hours = []

for hour in df_ords_merged['order_hour_of_day']:
  if hour in [10, 11, 14, 15, 13, 12, 16, 9]:
    hours.append('Most orders')
  elif hour in [23, 6, 0, 1, 5, 2, 4, 3]:
    hours.append('Fewest orders')
  else:
    hours.append('Average orders')

In [18]:
# Create the 'busiest_period_of_day' column
df_ords_merged['busiest_period_of_day'] = hours

In [19]:
# Check the output of 'order_hour_of_day' and the 'busiest_period_of_day'
df_ords_merged[['order_hour_of_day', 'busiest_period_of_day']].head(10)

   order_hour_of_day busiest_period_of_day
0                  8        Average orders
1                  7        Average orders
2                 12           Most orders
3                  7        Average orders
4                 15           Most orders
5                  7        Average orders
6                  9           Most orders
7                 14           Most orders
8                 16           Most orders
9                  8        Average orders

In [20]:
# Frequency the 'busiest_period_of_day' column
print('Frequency of values in the busiest_period_of_day column:\n', df_ords_merged['busiest_period_of_day'].value_counts())

Frequency of values in the busiest_period_of_day column:
 Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: busiest_period_of_day, dtype: int64

In [21]:
# Export df_ords_merged in .pkl format
df_ords_merged.to_pickle(r'C:\Users\cook family\Desktop\07-2023 Instacart Basket Analysis\02 Data\Prepared Data\orders_products_merged.pkl')