## 1. Import data and libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Assign project folder path to a variable

path = r'C:\Users\cook family\Desktop\07-2023 Instacart Basket Analysis'

In [3]:
# Import data

df_final = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_customers_merged.pkl'))

In [4]:
# Check output

df_final.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,...,Last Name,Gender,State,Age,date_joined,n_dependants,fam_status,income,region,activity_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,high activity customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,high activity customer
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,high activity customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,high activity customer
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,high activity customer

In [5]:
# Check shape

df_final.shape

(32404859, 37)

## 2. Create sample set of dataframe

In [6]:
# Create a list holding True/False values to the test np.random.rant() <= 0.7

dev = np.random.rand(len(df_final)) <= 0.7

In [7]:
# Store 70% of the sample in the dataframe big

big = df_final[dev]

In [8]:
# Store 30% of the sample in the dataframe small

small = df_final[~dev]

In [9]:
# Add both samples together to check results

len(df_final)

32404859

In [10]:
len(big) + len(small)

32404859

In [11]:
# Reduce samples to only columns relevant to the analysis

df_final.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_last_order', 'product_id',
       'add_to_cart_order', 'reordered', 'Unnamed: 0', 'product_name',
       'aisle_id', 'department_id', 'prices', '_merge', 'price_range',
       'busiest_day', 'busiest_days', 'busiest_period_of_day', 'max_order',
       'loyalty_flag', 'mean_price', 'spending_flag', 'median_days',
       'order_frequency_flag', 'First Name', 'Last Name', 'Gender', 'State',
       'Age', 'date_joined', 'n_dependants', 'fam_status', 'income', 'region',
       'activity_flag'],
      dtype='object')

In [12]:
# Reduce samples to subset of only columns relevant to analysis

df_final_subset = small[['Gender', 'State', 'Age', 'n_dependants', 'fam_status', 'income', 'order_number', 'loyalty_flag', 'spending_flag', 'order_frequency_flag', 'activity_flag', 'orders_day_of_week', 'order_hour_of_day', 'department_id', 'prices', 'price_range', 'busiest_day', 'busiest_period_of_day', 'region']]

In [13]:
# Check output

df_final_subset.head()

,Gender,State,Age,n_dependants,fam_status,income,order_number,loyalty_flag,spending_flag,order_frequency_flag,activity_flag,orders_day_of_week,order_hour_of_day,department_id,prices,price_range,busiest_day,busiest_period_of_day,region
4,Female,Alabama,31,3,married,40423,5,New customer,Low spender,Non-frequent customer,high activity customer,4,15,7,9.0,Mid-range product,Least busy,Most orders,South
5,Female,Alabama,31,3,married,40423,6,New customer,Low spender,Non-frequent customer,high activity customer,2,7,7,9.0,Mid-range product,Regularly busy,Average orders,South
11,Female,Alabama,31,3,married,40423,1,New customer,Low spender,Non-frequent customer,high activity customer,2,8,19,4.4,Low-range product,Regularly busy,Average orders,South
12,Female,Alabama,31,3,married,40423,2,New customer,Low spender,Non-frequent customer,high activity customer,3,7,19,4.4,Low-range product,Regularly busy,Average orders,South
17,Female,Alabama,31,3,married,40423,7,New customer,Low spender,Non-frequent customer,high activity customer,1,9,19,4.4,Low-range product,Regularly busy,Most orders,South

In [14]:
# Check shape

df_final_subset.shape

(9722678, 19)

## 3. Assign Departments to departmnet id

In [15]:
# Import departments data

df_depts = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'), index_col= 0)

In [16]:
# Check output

df_depts.head()

  department
1     frozen
2      other
3     bakery
4    produce
5    alcohol

In [17]:
# Create data dictionary for values in the "department_id" column

data_dict = df_depts.to_dict('index')

In [18]:
data_dict

{1: {'department': 'frozen'},
 2: {'department': 'other'},
 3: {'department': 'bakery'},
 4: {'department': 'produce'},
 5: {'department': 'alcohol'},
 6: {'department': 'international'},
 7: {'department': 'beverages'},
 8: {'department': 'pets'},
 9: {'department': 'dry goods pasta'},
 10: {'department': 'bulk'},
 11: {'department': 'personal care'},
 12: {'department': 'meat seafood'},
 13: {'department': 'pantry'},
 14: {'department': 'breakfast'},
 15: {'department': 'canned goods'},
 16: {'department': 'dairy eggs'},
 17: {'department': 'household'},
 18: {'department': 'babies'},
 19: {'department': 'snacks'},
 20: {'department': 'deli'},
 21: {'department': 'missing'}}

In [19]:
# Assign department_id values using data dictionary

df_final_subset.loc[df_final_subset['department_id'] == 1, 'department'] = 'frozen'

C:\Users\cook family\AppData\Local\Temp\ipykernel_10148\2919222338.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_subset.loc[df_final_subset['department_id'] == 1, 'department'] = 'frozen'

In [20]:
df_final_subset.loc[df_final_subset['department_id'] == 2, 'department'] = 'other'

In [21]:
df_final_subset.loc[df_final_subset['department_id'] == 3, 'department'] = 'bakery'

In [22]:
df_final_subset.loc[df_final_subset['department_id'] == 4, 'department'] = 'produce'

In [23]:
df_final_subset.loc[df_final_subset['department_id'] == 5, 'department'] = 'alcohol'

In [24]:
df_final_subset.loc[df_final_subset['department_id'] == 6, 'department'] = 'international'

In [25]:
df_final_subset.loc[df_final_subset['department_id'] == 7, 'department'] = 'beverages'

In [26]:
df_final_subset.loc[df_final_subset['department_id'] == 8, 'department'] = 'pets'

In [27]:
df_final_subset.loc[df_final_subset['department_id'] == 9, 'department'] = 'dry goods pasta'

In [28]:
df_final_subset.loc[df_final_subset['department_id'] == 10, 'department'] = 'bulk'

In [29]:
df_final_subset.loc[df_final_subset['department_id'] == 11, 'department'] = 'personal care'

In [30]:
df_final_subset.loc[df_final_subset['department_id'] == 12, 'department'] = 'meat seafood'

In [31]:
df_final_subset.loc[df_final_subset['department_id'] == 13, 'department'] = 'pantry'

In [32]:
df_final_subset.loc[df_final_subset['department_id'] == 14, 'department'] = 'breakfast'

In [33]:
df_final_subset.loc[df_final_subset['department_id'] == 15, 'department'] = 'canned goods'

In [34]:
df_final_subset.loc[df_final_subset['department_id'] == 16, 'department'] = 'dairy eggs'

In [35]:
df_final_subset.loc[df_final_subset['department_id'] == 17, 'department'] = 'household'

In [36]:
df_final_subset.loc[df_final_subset['department_id'] == 18, 'department'] = 'babies'

In [37]:
df_final_subset.loc[df_final_subset['department_id'] == 19, 'department'] = 'snacks'

In [38]:
df_final_subset.loc[df_final_subset['department_id'] == 20, 'department'] = 'deli'

In [39]:
df_final_subset.loc[df_final_subset['department_id'] == 21, 'department'] = 'missing'

In [40]:
# Check frequency 

df_final_subset['department'].value_counts(dropna=False)

produce            2846540
dairy eggs         1620128
snacks              866441
beverages           805402
frozen              671003
pantry              563513
bakery              350999
canned goods        320377
deli                314829
dry goods pasta     260205
household           220842
meat seafood        212222
breakfast           210584
personal care       134244
babies              127170
international        80710
alcohol              46020
pets                 29162
missing              21002
other                11004
bulk                 10281
Name: department, dtype: int64

In [41]:
# Check the shape 

df_final_subset['department'].shape

(9722678,)

In [42]:
# Check output

df_final_subset.head()

,Gender,State,Age,n_dependants,fam_status,income,order_number,loyalty_flag,spending_flag,order_frequency_flag,activity_flag,orders_day_of_week,order_hour_of_day,department_id,prices,price_range,busiest_day,busiest_period_of_day,region,department
4,Female,Alabama,31,3,married,40423,5,New customer,Low spender,Non-frequent customer,high activity customer,4,15,7,9.0,Mid-range product,Least busy,Most orders,South,beverages
5,Female,Alabama,31,3,married,40423,6,New customer,Low spender,Non-frequent customer,high activity customer,2,7,7,9.0,Mid-range product,Regularly busy,Average orders,South,beverages
11,Female,Alabama,31,3,married,40423,1,New customer,Low spender,Non-frequent customer,high activity customer,2,8,19,4.4,Low-range product,Regularly busy,Average orders,South,snacks
12,Female,Alabama,31,3,married,40423,2,New customer,Low spender,Non-frequent customer,high activity customer,3,7,19,4.4,Low-range product,Regularly busy,Average orders,South,snacks
17,Female,Alabama,31,3,married,40423,7,New customer,Low spender,Non-frequent customer,high activity customer,1,9,19,4.4,Low-range product,Regularly busy,Most orders,South,snacks

## 4. Create age groups

In [43]:
# Assign age groups

df_final_subset.loc[(df_final_subset['Age'] <= 16) & (df_final_subset['Age'] >=0), 'Age_group'] = 'Child'

C:\Users\cook family\AppData\Local\Temp\ipykernel_10148\1360388485.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_subset.loc[(df_final_subset['Age'] <= 16) & (df_final_subset['Age'] >=0), 'Age_group'] = 'Child'

In [44]:
df_final_subset.loc[(df_final_subset['Age'] <= 30) & (df_final_subset['Age'] >=17), 'Age_group'] = 'Young Adults'

In [45]:
df_final_subset.loc[(df_final_subset['Age'] <= 45) & (df_final_subset['Age'] >=31), 'Age_group'] = 'Middle Aged Adults'

In [46]:
df_final_subset.loc[df_final_subset['Age'] > 45, 'Age_group'] = 'Old Adults'

In [47]:
# Check frequency 

df_final_subset['Age_group'].value_counts(dropna=False)

Old Adults            5461364
Middle Aged Adults    2280586
Young Adults          1980728
Name: Age_group, dtype: int64

In [48]:
# Check the shape 

df_final_subset['Age_group'].shape

(9722678,)

In [49]:
# Check output

df_final_subset.head()

,Gender,State,Age,n_dependants,fam_status,income,order_number,loyalty_flag,spending_flag,order_frequency_flag,...,orders_day_of_week,order_hour_of_day,department_id,prices,price_range,busiest_day,busiest_period_of_day,region,department,Age_group
4,Female,Alabama,31,3,married,40423,5,New customer,Low spender,Non-frequent customer,...,4,15,7,9.0,Mid-range product,Least busy,Most orders,South,beverages,Middle Aged Adults
5,Female,Alabama,31,3,married,40423,6,New customer,Low spender,Non-frequent customer,...,2,7,7,9.0,Mid-range product,Regularly busy,Average orders,South,beverages,Middle Aged Adults
11,Female,Alabama,31,3,married,40423,1,New customer,Low spender,Non-frequent customer,...,2,8,19,4.4,Low-range product,Regularly busy,Average orders,South,snacks,Middle Aged Adults
12,Female,Alabama,31,3,married,40423,2,New customer,Low spender,Non-frequent customer,...,3,7,19,4.4,Low-range product,Regularly busy,Average orders,South,snacks,Middle Aged Adults
17,Female,Alabama,31,3,married,40423,7,New customer,Low spender,Non-frequent customer,...,1,9,19,4.4,Low-range product,Regularly busy,Most orders,South,snacks,Middle Aged Adults

## 5 Create income groups

In [50]:
# Assign income groups

df_final_subset.loc[df_final_subset['income'] < 43350, 'income_group'] = 'Low Income'

C:\Users\cook family\AppData\Local\Temp\ipykernel_10148\2312493979.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_subset.loc[df_final_subset['income'] < 43350, 'income_group'] = 'Low Income'

In [51]:
df_final_subset.loc[(df_final_subset['income'] <= 130000) & (df_final_subset['income'] >=43350), 'income_group'] = 'Middle Income'

In [52]:
df_final_subset.loc[df_final_subset['income'] > 130000, 'income_group'] = 'Upper Income'

In [53]:
# Check frequency 

df_final_subset['income_group'].value_counts(dropna=False)

Middle Income    6710837
Upper Income     2314759
Low Income        697082
Name: income_group, dtype: int64

In [54]:
# Check the shape 

df_final_subset['income_group'].shape

(9722678,)

In [55]:
# Check output

df_final_subset.head()

,Gender,State,Age,n_dependants,fam_status,income,order_number,loyalty_flag,spending_flag,order_frequency_flag,...,order_hour_of_day,department_id,prices,price_range,busiest_day,busiest_period_of_day,region,department,Age_group,income_group
4,Female,Alabama,31,3,married,40423,5,New customer,Low spender,Non-frequent customer,...,15,7,9.0,Mid-range product,Least busy,Most orders,South,beverages,Middle Aged Adults,Low Income
5,Female,Alabama,31,3,married,40423,6,New customer,Low spender,Non-frequent customer,...,7,7,9.0,Mid-range product,Regularly busy,Average orders,South,beverages,Middle Aged Adults,Low Income
11,Female,Alabama,31,3,married,40423,1,New customer,Low spender,Non-frequent customer,...,8,19,4.4,Low-range product,Regularly busy,Average orders,South,snacks,Middle Aged Adults,Low Income
12,Female,Alabama,31,3,married,40423,2,New customer,Low spender,Non-frequent customer,...,7,19,4.4,Low-range product,Regularly busy,Average orders,South,snacks,Middle Aged Adults,Low Income
17,Female,Alabama,31,3,married,40423,7,New customer,Low spender,Non-frequent customer,...,9,19,4.4,Low-range product,Regularly busy,Most orders,South,snacks,Middle Aged Adults,Low Income

## 6 Create parent groups

In [56]:
# Assign dependent groups

df_final_subset.loc[df_final_subset['n_dependants'] >0, 'dependents_group'] = 'Parent'

C:\Users\cook family\AppData\Local\Temp\ipykernel_10148\2451329041.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_subset.loc[df_final_subset['n_dependants'] >0, 'dependents_group'] = 'Parent'

In [57]:
df_final_subset.loc[df_final_subset['n_dependants'] ==0, 'dependents_group'] = 'No Children'

In [58]:
# Check frequency 

df_final_subset['dependents_group'].value_counts(dropna=False)

Parent         7294689
No Children    2427989
Name: dependents_group, dtype: int64

In [59]:
# Check the shape 

df_final_subset['dependents_group'].shape

(9722678,)

In [60]:
# Check output

df_final_subset.head()

,Gender,State,Age,n_dependants,fam_status,income,order_number,loyalty_flag,spending_flag,order_frequency_flag,...,department_id,prices,price_range,busiest_day,busiest_period_of_day,region,department,Age_group,income_group,dependents_group
4,Female,Alabama,31,3,married,40423,5,New customer,Low spender,Non-frequent customer,...,7,9.0,Mid-range product,Least busy,Most orders,South,beverages,Middle Aged Adults,Low Income,Parent
5,Female,Alabama,31,3,married,40423,6,New customer,Low spender,Non-frequent customer,...,7,9.0,Mid-range product,Regularly busy,Average orders,South,beverages,Middle Aged Adults,Low Income,Parent
11,Female,Alabama,31,3,married,40423,1,New customer,Low spender,Non-frequent customer,...,19,4.4,Low-range product,Regularly busy,Average orders,South,snacks,Middle Aged Adults,Low Income,Parent
12,Female,Alabama,31,3,married,40423,2,New customer,Low spender,Non-frequent customer,...,19,4.4,Low-range product,Regularly busy,Average orders,South,snacks,Middle Aged Adults,Low Income,Parent
17,Female,Alabama,31,3,married,40423,7,New customer,Low spender,Non-frequent customer,...,19,4.4,Low-range product,Regularly busy,Most orders,South,snacks,Middle Aged Adults,Low Income,Parent

## 7. Create customer profiles

In [61]:
# Assign customer profile group

df_final_subset.loc[(df_final_subset['fam_status'] != 'married') & (df_final_subset['n_dependants'] >0), 'customer_profile'] = 'Single parent'

C:\Users\cook family\AppData\Local\Temp\ipykernel_10148\887506382.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_subset.loc[(df_final_subset['fam_status'] != 'married') & (df_final_subset['n_dependants'] >0), 'customer_profile'] = 'Single parent'

In [62]:
df_final_subset.loc[(df_final_subset['fam_status'] != 'married') & (df_final_subset['Gender'] == 'Female') & (df_final_subset['n_dependants'] ==0), 'customer_profile'] = 'Single female without children'

In [63]:
df_final_subset.loc[(df_final_subset['fam_status'] != 'married') & (df_final_subset['Gender'] == 'Male') & (df_final_subset['n_dependants'] ==0), 'customer_profile'] = 'Single male without children'

In [64]:
df_final_subset.loc[(df_final_subset['Age'] < 30) & (df_final_subset['fam_status'] == 'married') & (df_final_subset['n_dependants'] >0), 'customer_profile'] = 'Married young parent'

In [65]:
df_final_subset.loc[(df_final_subset['Age'] >= 30) & (df_final_subset['fam_status'] == 'married') & (df_final_subset['n_dependants'] >0), 'customer_profile'] = 'Married older parent'

In [66]:
df_final_subset.loc[(df_final_subset['fam_status'] == 'married') & (df_final_subset['n_dependants'] ==0), 'customer_profile'] = 'Married without children'

In [67]:
# Check frequency 

df_final_subset['customer_profile'].value_counts(dropna=False)

Married older parent              5920461
Single male without children      1218011
Single female without children    1209978
Married young parent               907975
Single parent                      466253
Name: customer_profile, dtype: int64

In [68]:
# Check shape 

df_final_subset['customer_profile'].shape

(9722678,)

In [69]:
# Check df output

df_final_subset.head()

,Gender,State,Age,n_dependants,fam_status,income,order_number,loyalty_flag,spending_flag,order_frequency_flag,...,prices,price_range,busiest_day,busiest_period_of_day,region,department,Age_group,income_group,dependents_group,customer_profile
4,Female,Alabama,31,3,married,40423,5,New customer,Low spender,Non-frequent customer,...,9.0,Mid-range product,Least busy,Most orders,South,beverages,Middle Aged Adults,Low Income,Parent,Married older parent
5,Female,Alabama,31,3,married,40423,6,New customer,Low spender,Non-frequent customer,...,9.0,Mid-range product,Regularly busy,Average orders,South,beverages,Middle Aged Adults,Low Income,Parent,Married older parent
11,Female,Alabama,31,3,married,40423,1,New customer,Low spender,Non-frequent customer,...,4.4,Low-range product,Regularly busy,Average orders,South,snacks,Middle Aged Adults,Low Income,Parent,Married older parent
12,Female,Alabama,31,3,married,40423,2,New customer,Low spender,Non-frequent customer,...,4.4,Low-range product,Regularly busy,Average orders,South,snacks,Middle Aged Adults,Low Income,Parent,Married older parent
17,Female,Alabama,31,3,married,40423,7,New customer,Low spender,Non-frequent customer,...,4.4,Low-range product,Regularly busy,Most orders,South,snacks,Middle Aged Adults,Low Income,Parent,Married older parent

In [70]:
# Assign customer income profile group

df_final_subset.loc[(df_final_subset['fam_status'] != 'married') & (df_final_subset['income_group'] == 'Low Income') & (df_final_subset['n_dependants'] >0), 'customer_income_profile'] = 'Low income single parent'

C:\Users\cook family\AppData\Local\Temp\ipykernel_10148\3844837177.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_subset.loc[(df_final_subset['fam_status'] != 'married') & (df_final_subset['income_group'] == 'Low Income') & (df_final_subset['n_dependants'] >0), 'customer_income_profile'] = 'Low income single parent'

In [71]:
df_final_subset.loc[(df_final_subset['fam_status'] != 'married') & (df_final_subset['income_group'] == 'Middle Income') & (df_final_subset['n_dependants'] >0), 'customer_income_profile'] = 'Middle income single parent'

In [72]:
df_final_subset.loc[(df_final_subset['fam_status'] != 'married') & (df_final_subset['income_group'] == 'Upper Income') & (df_final_subset['n_dependants'] >0), 'customer_income_profile'] = 'Upper income single parent'

In [73]:
df_final_subset.loc[(df_final_subset['fam_status'] != 'married')  & (df_final_subset['income_group'] == 'Low Income') & (df_final_subset['Gender'] == 'Female') & (df_final_subset['n_dependants'] ==0), 'customer_income_profile'] = 'Low income single female without children'

In [74]:
df_final_subset.loc[(df_final_subset['fam_status'] != 'married')  & (df_final_subset['income_group'] == 'Middle Income') & (df_final_subset['Gender'] == 'Female') & (df_final_subset['n_dependants'] ==0), 'customer_income_profile'] = 'Middle income single female without children'

In [75]:
df_final_subset.loc[(df_final_subset['fam_status'] != 'married')  & (df_final_subset['income_group'] == 'Upper Income') & (df_final_subset['Gender'] == 'Female') & (df_final_subset['n_dependants'] ==0), 'customer_income_profile'] = 'Upper income single female without children'

In [76]:
df_final_subset.loc[(df_final_subset['fam_status'] != 'married')  & (df_final_subset['income_group'] == 'Low Income')  & (df_final_subset['Gender'] == 'Male') & (df_final_subset['n_dependants'] ==0), 'customer_income_profile'] = 'Low income single male without children'

In [77]:
df_final_subset.loc[(df_final_subset['fam_status'] != 'married')  & (df_final_subset['income_group'] == 'Middle Income')  & (df_final_subset['Gender'] == 'Male') & (df_final_subset['n_dependants'] ==0), 'customer_income_profile'] = 'Middle income single male without children'

In [78]:
df_final_subset.loc[(df_final_subset['fam_status'] != 'married')  & (df_final_subset['income_group'] == 'Upper Income')  & (df_final_subset['Gender'] == 'Male') & (df_final_subset['n_dependants'] ==0), 'customer_income_profile'] = 'Upper income single male without children'

In [79]:
df_final_subset.loc[(df_final_subset['Age'] < 30) & (df_final_subset['fam_status'] == 'married') & (df_final_subset['income_group'] == 'Low Income')  & (df_final_subset['n_dependants'] >0), 'customer_income_profile'] = 'Low income married young parent'

In [80]:
df_final_subset.loc[(df_final_subset['Age'] < 30) & (df_final_subset['fam_status'] == 'married') & (df_final_subset['income_group'] == 'Middle Income')  & (df_final_subset['n_dependants'] >0), 'customer_income_profile'] = 'Middle income married young parent'

In [81]:
df_final_subset.loc[(df_final_subset['Age'] < 30) & (df_final_subset['fam_status'] == 'married') & (df_final_subset['income_group'] == 'Upper Income')  & (df_final_subset['n_dependants'] >0), 'customer_income_profile'] = 'Upper income married young parent'

In [82]:
df_final_subset.loc[(df_final_subset['Age'] >= 30) & (df_final_subset['fam_status'] == 'married') & (df_final_subset['income_group'] == 'Low Income') & (df_final_subset['n_dependants'] >0), 'customer_income_profile'] = 'Low income married older parent'

In [83]:
df_final_subset.loc[(df_final_subset['Age'] >= 30) & (df_final_subset['fam_status'] == 'married') & (df_final_subset['income_group'] == 'Middle Income') & (df_final_subset['n_dependants'] >0), 'customer_income_profile'] = 'Middle income married older parent'

In [84]:
df_final_subset.loc[(df_final_subset['Age'] >= 30) & (df_final_subset['fam_status'] == 'married') & (df_final_subset['income_group'] == 'Upper Income') & (df_final_subset['n_dependants'] >0), 'customer_income_profile'] = 'Upper income married older parent'

In [85]:
df_final_subset.loc[(df_final_subset['fam_status'] == 'married') & (df_final_subset['income_group'] == 'Low Income')& (df_final_subset['n_dependants'] ==0), 'customer_income_profile'] = 'Low income married without children'

In [86]:
df_final_subset.loc[(df_final_subset['fam_status'] == 'married') & (df_final_subset['income_group'] == 'Middle Income')& (df_final_subset['n_dependants'] ==0), 'customer_income_profile'] = 'Middle income married without children'

In [87]:
df_final_subset.loc[(df_final_subset['fam_status'] == 'married') & (df_final_subset['income_group'] == 'Upper Income')& (df_final_subset['n_dependants'] ==0), 'customer_income_profile'] = 'Upper income married without children'

In [88]:
# Check frequency 

df_final_subset['customer_income_profile'].value_counts(dropna=False)

Middle income married older parent              3818761
Upper income married older parent               1713060
Middle income single male without children       838218
Middle income single female without children     830669
Middle income married young parent               805057
Middle income single parent                      418132
Low income married older parent                  388640
Upper income single male without children        292913
Upper income single female without children      292502
Low income married young parent                   92100
Low income single male without children           86880
Low income single female without children         86807
Low income single parent                          42655
Upper income married young parent                 10818
Upper income single parent                         5466
Name: customer_income_profile, dtype: int64

In [89]:
# Check shape 

df_final_subset['customer_income_profile'].shape

(9722678,)

In [90]:
# Check df output

df_final_subset.head()

,Gender,State,Age,n_dependants,fam_status,income,order_number,loyalty_flag,spending_flag,order_frequency_flag,...,price_range,busiest_day,busiest_period_of_day,region,department,Age_group,income_group,dependents_group,customer_profile,customer_income_profile
4,Female,Alabama,31,3,married,40423,5,New customer,Low spender,Non-frequent customer,...,Mid-range product,Least busy,Most orders,South,beverages,Middle Aged Adults,Low Income,Parent,Married older parent,Low income married older parent
5,Female,Alabama,31,3,married,40423,6,New customer,Low spender,Non-frequent customer,...,Mid-range product,Regularly busy,Average orders,South,beverages,Middle Aged Adults,Low Income,Parent,Married older parent,Low income married older parent
11,Female,Alabama,31,3,married,40423,1,New customer,Low spender,Non-frequent customer,...,Low-range product,Regularly busy,Average orders,South,snacks,Middle Aged Adults,Low Income,Parent,Married older parent,Low income married older parent
12,Female,Alabama,31,3,married,40423,2,New customer,Low spender,Non-frequent customer,...,Low-range product,Regularly busy,Average orders,South,snacks,Middle Aged Adults,Low Income,Parent,Married older parent,Low income married older parent
17,Female,Alabama,31,3,married,40423,7,New customer,Low spender,Non-frequent customer,...,Low-range product,Regularly busy,Most orders,South,snacks,Middle Aged Adults,Low Income,Parent,Married older parent,Low income married older parent

## 8. Assign hourly groups

In [91]:
df_final_subset.loc[(df_final_subset['order_hour_of_day'] >= 0) & (df_final_subset['order_hour_of_day'] <8), 'time_period'] = 'Before 8am'

C:\Users\cook family\AppData\Local\Temp\ipykernel_10148\922373287.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_subset.loc[(df_final_subset['order_hour_of_day'] >= 0) & (df_final_subset['order_hour_of_day'] <8), 'time_period'] = 'Before 8am'

In [92]:
df_final_subset.loc[(df_final_subset['order_hour_of_day'] >= 8) & (df_final_subset['order_hour_of_day'] <=17), 'time_period'] = 'Between 8am and 5pm'

In [93]:
df_final_subset.loc[(df_final_subset['order_hour_of_day'] > 17), 'time_period'] = 'After 5pm'

In [94]:
# Check frequency 

df_final_subset['time_period'].value_counts(dropna=False)

Between 8am and 5pm    7478168
After 5pm              1710918
Before 8am              533592
Name: time_period, dtype: int64

In [95]:
# Check shape 

df_final_subset['time_period'].shape

(9722678,)

In [96]:
# Check output

df_final_subset.head()

,Gender,State,Age,n_dependants,fam_status,income,order_number,loyalty_flag,spending_flag,order_frequency_flag,...,busiest_day,busiest_period_of_day,region,department,Age_group,income_group,dependents_group,customer_profile,customer_income_profile,time_period
4,Female,Alabama,31,3,married,40423,5,New customer,Low spender,Non-frequent customer,...,Least busy,Most orders,South,beverages,Middle Aged Adults,Low Income,Parent,Married older parent,Low income married older parent,Between 8am and 5pm
5,Female,Alabama,31,3,married,40423,6,New customer,Low spender,Non-frequent customer,...,Regularly busy,Average orders,South,beverages,Middle Aged Adults,Low Income,Parent,Married older parent,Low income married older parent,Before 8am
11,Female,Alabama,31,3,married,40423,1,New customer,Low spender,Non-frequent customer,...,Regularly busy,Average orders,South,snacks,Middle Aged Adults,Low Income,Parent,Married older parent,Low income married older parent,Between 8am and 5pm
12,Female,Alabama,31,3,married,40423,2,New customer,Low spender,Non-frequent customer,...,Regularly busy,Average orders,South,snacks,Middle Aged Adults,Low Income,Parent,Married older parent,Low income married older parent,Before 8am
17,Female,Alabama,31,3,married,40423,7,New customer,Low spender,Non-frequent customer,...,Regularly busy,Most orders,South,snacks,Middle Aged Adults,Low Income,Parent,Married older parent,Low income married older parent,Between 8am and 5pm

## 9. Assign Days

In [97]:
# Check output

df_final_subset.head()# Assign day values using order_day_of_week column

df_final_subset.loc[df_final_subset['orders_day_of_week'] == 0, 'day'] = 'Saturday'

C:\Users\cook family\AppData\Local\Temp\ipykernel_10148\2806668830.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_subset.loc[df_final_subset['orders_day_of_week'] == 0, 'day'] = 'Saturday'

In [98]:
df_final_subset.loc[df_final_subset['orders_day_of_week'] == 1, 'day'] = 'Sunday'

In [99]:
df_final_subset.loc[df_final_subset['orders_day_of_week'] == 2, 'day'] = 'Monday'

In [100]:
df_final_subset.loc[df_final_subset['orders_day_of_week'] == 3, 'day'] = 'Tuesday'

In [101]:
df_final_subset.loc[df_final_subset['orders_day_of_week'] == 4, 'day'] = 'Wednesday'

In [102]:
df_final_subset.loc[df_final_subset['orders_day_of_week'] == 5, 'day'] = 'Thursday'

In [103]:
df_final_subset.loc[df_final_subset['orders_day_of_week'] == 6, 'day'] = 'Friday'

In [104]:
# Check frequency 

df_final_subset['day'].value_counts(dropna=False)

Saturday     1861569
Sunday       1698810
Friday       1350082
Monday       1264106
Thursday     1261603
Tuesday      1150863
Wednesday    1135645
Name: day, dtype: int64

In [105]:
# Check shape 

df_final_subset['day'].shape

(9722678,)

In [106]:
# Check output

df_final_subset.head()

,Gender,State,Age,n_dependants,fam_status,income,order_number,loyalty_flag,spending_flag,order_frequency_flag,...,busiest_period_of_day,region,department,Age_group,income_group,dependents_group,customer_profile,customer_income_profile,time_period,day
4,Female,Alabama,31,3,married,40423,5,New customer,Low spender,Non-frequent customer,...,Most orders,South,beverages,Middle Aged Adults,Low Income,Parent,Married older parent,Low income married older parent,Between 8am and 5pm,Wednesday
5,Female,Alabama,31,3,married,40423,6,New customer,Low spender,Non-frequent customer,...,Average orders,South,beverages,Middle Aged Adults,Low Income,Parent,Married older parent,Low income married older parent,Before 8am,Monday
11,Female,Alabama,31,3,married,40423,1,New customer,Low spender,Non-frequent customer,...,Average orders,South,snacks,Middle Aged Adults,Low Income,Parent,Married older parent,Low income married older parent,Between 8am and 5pm,Monday
12,Female,Alabama,31,3,married,40423,2,New customer,Low spender,Non-frequent customer,...,Average orders,South,snacks,Middle Aged Adults,Low Income,Parent,Married older parent,Low income married older parent,Before 8am,Tuesday
17,Female,Alabama,31,3,married,40423,7,New customer,Low spender,Non-frequent customer,...,Most orders,South,snacks,Middle Aged Adults,Low Income,Parent,Married older parent,Low income married older parent,Between 8am and 5pm,Sunday

## Exporting Data

In [107]:
# Export dataframe to pkl

df_final_subset.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'final_subset_sample.pkl'))